<nav class="navigation">
  <ul class="navigation__links">
    <li class="navigation__item">
      <a class="navigation__link" [routerLink]="['/']">ourView</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Home</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">About</a>
    </li>
    <li class="navigation__item">Feedback
      <ul class="navigation__submenu">
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Add</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Suggestions</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Find</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>