<nav class="navigation">
  <ul class="navigation__links">
    <li class="navigation__item">
      <a class="navigation__link" [routerLink]="['/']">
        <img class="navigation__logo" src="../../assets/images/logo.png" alt="ourView">
      </a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Polls</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Overview</a>
    </li>
    <li class="navigation__item">My Profile
      <ul class="navigation__submenu">
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Sign In</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Edit Profile</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" href="#">Manage Feedback</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>