<nav class="navigation">
  <ul class="navigation__links">
    <li class="navigation__item">
      <a class="navigation__link" [routerLink]="['/']">
        <img class="navigation__logo" src="../../assets/images/logo.png" alt="ourView">
      </a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Polls</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href="#">Overview</a>
    </li>
    <li class="navigation__item" *ngIf="authService.userLoggedIn">Me
      <ul class="navigation__submenu">
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" (click)="logout()">Sign Out</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" [routerLink]="['/']">My Feedback</a>
        </li>
        <li class="navigation__submenu-item">
          <a class="navigation__submenu-link" [routerLink]="['/']">My Upvotes</a>
        </li>
      </ul>
    </li>
    <li class="navigation__item" *ngIf="!authService.userLoggedIn">
      <a class="navigation__link" [routerLink]="['profile']">Sign In</a>
    </li>
  </ul>
</nav>