@import 'variables';

h1, h2, h3, h4, h5, h6 {
  font-family: TitleFont;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $link_colour;

}

p, li, button, input {
  font-family: CopyFont;
  font-size: 1.1rem;
  color: $copy_colour;
}

.button {
  background-color: $link_colour;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1.3rem;
}